<% include partials/header %>

<div class="container">
    <h2>Log In!</h2>
    <form action= "/login" method = "post">
        <input type ="text" name = "username" placeholder = "username">
        <input type ="passsword" name = "password" placeholder = "passsword">
        
        <button>Log in</button>
    </form>
</div>

<% include partials/footer %>